<div class="container mt-5">

  <!-- Button -->
  <div class="row">
    <div class="col text-end">
      <button class="btn btn-primary" (click)="openCopyPasteModal()">
        Copy-paste data from Excel for Total Expenditure
      </button>
    </div>
  </div>

</div>

<!-- Modal -->
<div
  class="modal fade"
  id="copyPasteModal"
  tabindex="-1">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">

      <!-- Header -->
      <div class="modal-header">
        <h5 class="modal-title" id="fileUploadModal">
          Copy paste data from Excel for Total Expenditure </h5>
        <button
        type="button"
        class="btn btn-close"
        (click)="closeModal()"
        aria-label="Close"
        ></button>
      </div>

      <!-- Body -->
      <div class="modal-body">
        <div class="container-fluid">

          <!-- Help text -->
          <div class="row">
            <div class="col">
              <div class="alert alert-secondary" role="alert">
                <span class="fw-bold">Lorem ipsum</span> dolor sit amet, consectetur adipiscing elit. Nulla eu volutpat dolor. Sed bibendum in dolor in consectetur. Quisque <span class="fw-bold">tellus erat</span>, <span class="fw-bold">porta id mauris ac</span>, commodo <span class="fw-bold">tempus elit</span>. Maecenas auctor nec elit nec scelerisque. Duis sit amet accumsan metus. Sed accumsan magna mi, non suscipit elit molestie eu. Vestibulum vestibulum odio vel vestibulum tempor.
              </div>
            </div>
          </div>

          <!-- Input -->
          <div class="row">
            <div class="col">
              <label for="copypaste" class="form-label">
                You can copy-paste cells directly from Excel:
              </label>
              <div
                id="copypaste"
                class="border p-2 rounded bg-primary bg-gradient"
                (paste)="pasteEvent($event)">
                  Copy-paste cells from Excel in here.
              </div>
            </div>
            <div class="col">
              <label for="formFile" class="form-label">
                Or you can select a CSV file:
              </label>
              <input
                class="form-control"
                (change)="onUploadFile($event)"
                type="file"
                id="formFile"/>
            </div>
          </div>

          <!-- Data -->
          <div class="mt-4" *ngIf="tableForm && form && headings.length">

            <!-- Delete columns -->
            <div class="row">
              <div
                *ngFor="let heading of headings; let colIndex = index"
                class="col text-center">
                <button
                  class="btn btn-outline-danger"
                  type="button"
                  (click)="removeColumn(colIndex, heading.key)">
                    <i class="bi bi-arrow-bar-down"></i>
                    <i class="bi bi-trash3"></i>
                </button>
              </div>
              <div class="col-1">
                &nbsp;
              </div>
            </div>

            <!-- Column headers -->
            <div class="row mt-4">
              <div
                *ngFor="let heading of headings"
                class="col"
              >
                <app-headings [heading]="heading" [form]="form">
                </app-headings>
              </div>
              <div class="col-1">
                &nbsp;
              </div>
            </div>

            <!-- Data -->
            <form [formGroup]="tableForm">
              <div formArrayName="rows">
                <div
                  *ngFor="let row of rowsContrlos; let rowIndex = index"
                  [formGroupName]="rowIndex"
                  class="row mt-4">

                  <!-- Data -->
                  <div
                    class="col"
                    *ngFor="let controlName of row.value | keys">
                      <textarea
                        class="form-control"
                        formControlName="{{ controlName }}">
                      </textarea>
                  </div>

                  <!-- Delete row -->
                  <div class="col-1 d-flex align-items-center">
                    <button
                      class="btn btn-outline-danger"
                      type="button"
                      (click)="removeRow(rowIndex)">
                      <i class="bi bi-arrow-left-short"></i>
                      <i class="bi bi-trash3"></i>
                    </button>
                  </div>

                </div>
              </div>
            </form>

          </div>

        </div>
      </div>

      <!-- Footer -->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="closeModal()">
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-outline-primary"
          (click)="clearAll()">
          Reset
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          (click)="onSubmit()">
          Submit
        </button>
      </div>
    </div>

  </div>
</div>